@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';

//**************************************************************************
// This file contains all mixins.
//**************************************************************************

@mixin add-separator-container() {
    
    max-width: 100%;
    height: variables.$content-margin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: variables.$border-radius-md;
    gap: variables.$spacing-sm;

    .add-button {
        position: relative;
        display: none;
    }

    &:not(.is-grabbing) {
        &:hover .add-button {
            display: block;
        }
    }
}
