<div class="dialog">
    <pep-dialog [title]="'DIALOGS.SHOW_IF.TITLE' | translate" [showClose]="false" (close)="onDialogClose()">
        <ng-container pep-dialog-content>
            <pep-query-builder [query]="query" [fields]="fields" (queryChange)="outputData.query=$event || ''"
                (formValidationChange)="isValid=$event">
            </pep-query-builder>            
        </ng-container>
        <ng-container pep-dialog-actions class="pepperi-border-top">
            <pep-button [value]="'ACTIONS.CANCEL' | translate" [class]="'pep-spacing-element'" [disabled]="!isValid" [mat-dialog-close]="outputData" (click)="onDialogClose()"></pep-button>
            <pep-button [value]="'ACTIONS.SAVE' | translate" [disabled]="!isValid" [mat-dialog-close]="outputData"></pep-button>
        </ng-container>
    </pep-dialog>
</div>