<div #sectionsCont [ngClass]="{ 'editable-state': editMode, 'is-grabbing': isGrabbing }" cdkDropListGroup class="sections-container" cdkDropList (cdkDropListDropped)="onSectionDropped($event)" >
    <section *ngFor="let section of sections$ | async; let i=index;"
        [sectionsQuestionsDropList]="sectionsQuestionsDropList" [index]="i" [title]="section.Title" [isActive]="section === selectedSection"
        [questions]="section.Questions" [screenSize]="screenSize" [editable]="editMode"
        >
    </section>
</div>