<div class="survey-container">
    <pep-page-layout [showShadow]="true">
        <div pep-side-area>
            <pep-side-bar [ignoreResize]="true" (stateChange)="onSidebarStateChange($event)">
                <div header-content class="side-bar-title">
                    <pep-button class="back-button" sizeType="sm" iconName="arrow_left_alt"
                        (buttonClick)="onNavigateBackFromEditor();"></pep-button>
                    <div class=" title-xl ellipsis" [title]="'survey builder'">
                        <span>Survey Builder</span>
                    </div>
                </div>
                <div class="survey-details">
                    <pep-textbox [key]="'float'" [label]="'Survey Name'">
                    </pep-textbox>

                    <pep-textarea [key]="'description'" [label]="'Description'" [rowSpan]="2">
                    </pep-textarea>

                    <pep-select [value]="'2'" [label]="'Business Unit'" [options]="businesUnitOptions"
                        [renderTitle]="true" [emptyOption]="false"></pep-select>

                    <h4>Add Items</h4>

                    <pep-menu class="pep-spacing-element" [items]="menuItems" [text]="'Add a Question'" [iconName]="'arrow_down'" [sizeType]="'lg'"
                        (menuItemClick)="onAddQuestionClicked($event)">
                    </pep-menu>

                    <pep-button value="Add a Section" styleType="weak" styleStateType="system" sizeType="lg"
                        iconName="number_plus" iconPosition="end" (buttonClick)="onAddSectionClicked()"></pep-button>

                </div>
            </pep-side-bar>
        </div>
        <ng-container pep-main-area>
            <div class="main-area-container">
                <div class="header-container">
                    <pep-button class="pep-spacing-element" [value]="'Preview'" [sizeType]="'sm'">
                    </pep-button>
                    <pep-button class="pep-spacing-element" [value]="'Publish'" [sizeType]="'sm'"
                        [styleType]="'strong'">
                    </pep-button>
                </div>
                <div>Main Area</div>
            </div>
        </ng-container>
    </pep-page-layout>
    <div class="right-side-bar"></div>
</div>

<pep-size-detector></pep-size-detector>