<div class="question-container" cdkDrag [cdkDragDisabled]="!editable" [cdkDragData]="question"
    (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
    <div *ngIf="editable" class="add-separator-container" [ngClass]="{ 'is-grabbing': isGrabbing, 'state-open': isQuestionTypeMenuOpen }">
        <survey-question-menu class="add-button" sizeType="sm" styleType="regular" (onStateChange)="onStateChange($event)"
            (questionTypeClick)="onAddQuestionClicked($event)"></survey-question-menu>
    </div>

    <div class="question-with-sequence-container" [ngClass]="{ 'editable-state': editable }">
        <survey-sequence-number *ngIf="editable" cdkDragHandle [value]="sequenceNumber" (mousedown)="onQuestionClicked($event)" ></survey-sequence-number>

        <div class="question-field-container" (mousedown)="onQuestionClicked($event)"
            [ngClass]="{ 'active-question': isActive }">

            <ng-container *ngIf="editable; then editableTitleTemplate; else runnerTitleTemplate"></ng-container>
            <ng-template #editableTitleTemplate>
                <pep-field-title [label]="question.Title" [mandatory]="question.Mandatory"
                    [maxFieldCharacters]="question.MaxFieldCharacters">
                </pep-field-title>

                <div *ngIf="question.Description?.length > 0" class="question-description-container">
                    <span class="body-xs color-dimmed" title="{{ question.Description }}">{{ question.Description }}</span>
                </div>
            </ng-template>
            <ng-template #runnerTitleTemplate>
                <pep-field-title [label]="question.Title" [mandatory]="question.Mandatory" fontBodyType="md"
                    [maxFieldCharacters]="question.MaxFieldCharacters">
                </pep-field-title>

                <div *ngIf="question.Description?.length > 0" class="question-description-container">
                    <span class="body-sm color-dimmed" title="{{ question.Description }}">{{ question.Description }}</span>
                </div>
            </ng-template>
            
            <ng-container [ngSwitch]="question.Type">
                <ng-container *ngSwitchCase="'short-text'">
                    <pep-textbox [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        [maxFieldCharacters]="question?.MaxCharacters?.length > 0 ? question.MaxCharacters : 'undefined'"
                        (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'long-text'">
                    <pep-textarea [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                    [maxFieldCharacters]="question?.MaxCharacters?.length > 0 ? question.MaxCharacters : 'undefined'"
                        [rowSpan]="2" (valueChange)="onQuestionValueChanged($event)"></pep-textarea>
                </ng-container>
                <ng-container *ngSwitchCase="'single-selection-dropdown'">
                    <pep-select [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        [options]="question?.OptionalValues" (valueChange)="onQuestionValueChanged($event)" [emptyOption]="question?.AddNoneOption">
                    </pep-select>
                </ng-container>
                <ng-container *ngSwitchCase="'multiple-selection-dropdown'">
                    <pep-select [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        type="multi" [options]="question?.OptionalValues" [emptyOption]="question?.AddNoneOption"
                        (valueChange)="onQuestionValueChanged($event)"></pep-select>
                </ng-container>
                <ng-container *ngSwitchCase="'boolean-toggle'">
                    <survey-yes-no-question [value]="question.Value" [mandatory]="question?.Mandatory" [yesTitle]="question?.True || null" [noTitle]="question?.False || ''"
                        (valueChange)="onQuestionValueChanged($event)"></survey-yes-no-question>
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                    <pep-textbox [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        type="int" (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'decimal'">
                    <pep-textbox [minFractionDigits]="question?.Value" [maxFractionDigits]="question?.Value" [value]="" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        type="real" (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'currency'">
                    <pep-textbox [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        type="currency" (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'percentage'">
                    <pep-textbox [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        type="percentage" (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                    <pep-date [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        type="date" (valueChange)="onQuestionValueChanged($event)"></pep-date>
                </ng-container>
                <ng-container *ngSwitchCase="'datetime'">
                    <pep-date [value]="question.Value" [mandatory]="question?.Mandatory" [renderTitle]="false"
                        type="datetime" (valueChange)="onQuestionValueChanged($event)"></pep-date>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <span>{{ 'SURVEY_MANAGER.QUESTION_TYPE_NOT_SUPPORTED' | translate }}</span>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>