@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as ngx-mixins;
@import '../../../mixins.scss';

.question-container {
    // The placeholder of the drop area when dragging a section.
    &.cdk-drag-placeholder {
        opacity: 0.5;
    }

    &.hidden-question {
        .question-with-sequence-container {
            opacity: 0.35;

            .question-field-container > * {
                pointer-events: none;
            }
        }
        
    }
    
    .add-separator-container {
        @include add-separator-container();
    }

    .question-with-sequence-container {
        display: flex;
        gap: variables.$spacing-sm;
        padding-inline-start: variables.$spacing-sm;
        // margin-top: variables.$content-margin;
        
        // Keep the spacing when grabbing & not in edit mode cause the seperator of the add section button is not visible.
        &:not(.editable-state) {
            margin-top: variables.$content-padding;
        }

        // This css is only for edit mode!!!
        &.editable-state {
            @include sequence-number();
        
            .question-field-container {
                border-radius: variables.$border-radius-md;
                padding: variables.$content-padding;
            }
        }  
        
        .question-field-container {
            display: grid;
            gap: variables.$spacing-sm;
            height: 100%;
            width: 100%;

            .field-title-two-lines {
                @include ngx-mixins.multi-line-ellipsis(1);
            }
        }
    }

    ::ng-deep{
        pep-select{
            .mat-form-field-infix{
                z-index: 1;
            }
        }
    }
}