<div class="question-container" cdkDrag [cdkDragDisabled]="!editable" [cdkDragData]="question"
    (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
    <div *ngIf="editable" class="add-separator-container" [ngClass]="{ 'is-grabbing': isGrabbing, 'state-open': isQuestionTypeMenuOpen }">
        <survey-question-menu class="add-button" sizeType="sm" styleType="regular" (onStateChange)="onStateChange($event)"
            (questionTypeClick)="onAddQuestionClicked($event)"></survey-question-menu>
    </div>

    <div class="question-with-sequence-container" [ngClass]="{ 'editable-state': editable }">
        <survey-show-if-badge *ngIf="editable" [showIf]="(question.ShowIf)"></survey-show-if-badge>
     
        <survey-sequence-number *ngIf="editable" cdkDragHandle [value]="sequenceNumber" (mousedown)="onQuestionClicked($event)" ></survey-sequence-number>

        <div class="question-field-container " (mousedown)="onQuestionClicked($event)" 
            [ngClass]="{ 'active-question': isActive, 'error-in-question': isValidQuestion() == false }">

            <pep-field-title [label]="question.Title" [mandatory]="question.Mandatory" [fontBodyType]="editable ? 'xs' : 'md'"
                [inputLength]="valueLength" [maxFieldCharacters]="question.MaxCharacters || 0">
            </pep-field-title>

            <div *ngIf="question.Description?.length > 0">
                <span class="body-{{editable ? 'xs' : 'sm'}} color-dimmed" title="{{ question.Description }}">{{ question.Description }}</span>
            </div>
            
            <ng-container [ngSwitch]="question.Type">
                <ng-container *ngSwitchCase="'short-text'">
                    <pep-textbox [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        [maxFieldCharacters]="question?.MaxCharacters?.length > 0 ? question.MaxCharacters : 'undefined'"
                        (valueChange)="onQuestionValueChanged($event)" (keyup)="onKeyup($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'long-text'">
                    <pep-textarea [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                    [maxFieldCharacters]="question?.MaxCharacters?.length > 0 ? question.MaxCharacters : 'undefined'"
                        [rowSpan]="2" (valueChange)="onQuestionValueChanged($event)" (keyup)="onKeyup($event)"></pep-textarea>
                </ng-container>
                <ng-container *ngSwitchCase="'single-selection-dropdown'">
                    <pep-select [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        [options]="question?.OptionalValues" (valueChange)="onQuestionValueChanged($event)" [emptyOption]="question?.AddNoneOption">
                    </pep-select>
                </ng-container>
                <ng-container *ngSwitchCase="'multiple-selection-dropdown'">
                    <pep-select [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        type="multi" [options]="question?.OptionalValues" [emptyOption]="question?.AddNoneOption"
                        (valueChange)="onQuestionValueChanged($event)"></pep-select>
                </ng-container>
                <ng-container *ngSwitchCase="'single-selection-radiobuttons'">
                    <pep-select-panel 
                        [value]="questionValue" 
                        [renderTitle]="false"
                        [mandatory]="question?.Mandatory"
                        [isMultiSelect]="false"
                        [disabled]="disabled"
                        [numOfCol]="question?.selectionColumns"
                        [options]="question?.OptionalValues"
                        (valueChange)="onQuestionValueChanged($event)">
                    </pep-select-panel>
                </ng-container>
                <ng-container *ngSwitchCase="'multiple-selection-checkboxes'">
                    <pep-select-panel 
                        [value]="questionValue" 
                        [renderTitle]="false"
                        [mandatory]="question?.Mandatory"
                        [isMultiSelect]="true"
                        [disabled]="disabled"
                        [numOfCol]="question.selectionColumns"
                        [options]="question?.OptionalValues"
                        (valueChange)="onQuestionValueChanged($event)">
                    </pep-select-panel>
                </ng-container>
                <ng-container *ngSwitchCase="'boolean-toggle'">
                    <survey-yes-no-question [value]="questionValue" [mandatory]="question?.Mandatory" [disabled]="disabled"
                        [yesTitle]="question?.True || ('SURVEY_MANAGER.SURVEY_EDITOR.RIGHT_SIDE.BOOLEAN.YES' | translate)" 
                        [noTitle]="question?.False || ('SURVEY_MANAGER.SURVEY_EDITOR.RIGHT_SIDE.BOOLEAN.NO' | translate)"
                        (valueChange)="onQuestionValueChanged($event)"></survey-yes-no-question>
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                    <pep-textbox [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        type="int" (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'decimal'">
                    <pep-textbox [value]="questionValue" [minFractionDigits]="question?.FractionDigits" [maxFractionDigits]="question?.FractionDigits" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        type="real" (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'currency'">
                    <pep-textbox [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        type="currency" (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'percentage'">
                    <pep-textbox [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        type="percentage" (valueChange)="onQuestionValueChanged($event)"></pep-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                    <pep-date [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        type="date" (valueChange)="onQuestionValueChanged($event)"></pep-date>
                </ng-container>
                <ng-container *ngSwitchCase="'datetime'">
                    <pep-date [value]="questionValue" [mandatory]="question?.Mandatory" [renderTitle]="false" [disabled]="disabled"
                        type="datetime" (valueChange)="onQuestionValueChanged($event)"></pep-date>
                </ng-container>
                <ng-container *ngSwitchCase="'photo'">
                    <pep-image
                        [src]="questionValue"
                        [mandatory]="question?.Mandatory" 
                        [disabled]="disabled"
                        [rowSpan]="4"
                        [renderTitle]="false"
                  ></pep-image>
                </ng-container>
                <ng-container *ngSwitchCase="'signature'">
                    <pep-signature
                        [src]="questionValue"
                        [mandatory]="question?.Mandatory" 
                        [rowSpan]="4"
                        [disabled]="disabled"
                        [renderTitle]="false"
                  ></pep-signature>
                </ng-container>
                <ng-container *ngSwitchDefault>{{question.Type}}
                    <span>{{ 'SURVEY_MANAGER.QUESTION_TYPE_NOT_SUPPORTED' | translate }}</span>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>