<ng-container>
    <div class="section-container " [ngClass]="{ 
        'editable-state': editable, 'active-section': isActive }" 
        (click)="onSectionClicked($event)"
        cdkDragBoundary=".survey-builder-wrapper" cdkDrag [cdkDragData]="index" (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)" 
    >
        <div class="pep-button sm sequence-number">
            <span class="body-xs " title="{{ index + 1 }}">{{ index + 1 }}</span>
        </div>
        <div class="title-container">
            <span class="body-sm ellipsis title" title="{{ title || ('SURVEY_MANAGER.SECTION_TITLE_PLACEHOLDER' | translate)}}">{{ title || ('SURVEY_MANAGER.SECTION_TITLE_PLACEHOLDER' | translate)}}</span>
        </div>
    </div>

    <div [id]="sectionContainerKeyPrefix" class="questions-wrapper "
        cdkDropList
        [cdkDropListConnectedTo]="sectionsQuestionsDropList"
        (cdkDropListDropped)="onQuestionDropped($event)">
        
        <ng-container *ngFor="let question of questions; let i=index;">
            <survey-question-generator [editable]="editable" [question]="question" [sequenceNumber]="(index + 1) + '.' + (i + 1)" 
                [isActive]="isActive && selectedQuestion === question"
                (questionClick)="onQuestionClicked(i)"></survey-question-generator>
        </ng-container>
    </div>
</ng-container>