<div class="section-area " [ngClass]="{ 'editable-state': editable }" >
    <div class="section-container " [ngClass]="{ 'active-section': isActive && selectedQuestion === null }" 
        (click)="onSectionClicked($event)">
        <ng-container *ngIf="editable; then editableTitleTemplate; else runnerTitleTemplate"></ng-container>
        <ng-template #editableTitleTemplate>
            <div class="pep-button sm sequence-number">
                <span class="body-xs " title="{{ index + 1 }}">{{ index + 1 }}</span>
            </div>
    
            <div class="title-container">
                <span class="body-sm ellipsis title" 
                    title="{{ title || ('SURVEY_MANAGER.SECTION_TITLE_PLACEHOLDER' | translate)}}">{{ title || ('SURVEY_MANAGER.SECTION_TITLE_PLACEHOLDER' | translate)}}</span>
            </div>
        </ng-template>
        <ng-template #runnerTitleTemplate>
            <pep-separator class="title-container" [label]="title || ('SURVEY_MANAGER.SECTION_TITLE_PLACEHOLDER' | translate)"></pep-separator>
        </ng-template>
    </div>

    <div [id]="sectionContainerKeyPrefix" class="questions-wrapper "
        cdkDropList
        [cdkDropListConnectedTo]="sectionsQuestionsDropList"
        (cdkDropListDropped)="onQuestionDropped($event)">
        
        <ng-container *ngFor="let question of questions; let i=index;">
            <ng-container *ngTemplateOutlet="addButtonsTemplate; context: { showAddSection: false, questionIndex: i }"></ng-container>
            
            <survey-question-generator [editable]="editable" [question]="question" [sequenceNumber]="(index + 1) + '.' + (i + 1)" 
                [isActive]="isActive && selectedQuestion === question"
                (questionClick)="onQuestionClicked(i)"></survey-question-generator>
        </ng-container>
    </div>

    <ng-container *ngTemplateOutlet="addButtonsTemplate; context: {showAddSection: true}"></ng-container>
</div>

<ng-template #addButtonsTemplate let-showAddSection="showAddSection" let-questionIndex="questionIndex">
    <div *ngIf="editable" class="add-separator-container" [ngClass]="{ 'is-grabbing': isGrabbing }">
        <pep-button *ngIf="showAddSection" class="add-button" styleType="regular" sizeType="sm" iconName="number_plus" 
            [value]="'SURVEY_MANAGER.SURVEY_EDITOR.ADD_SECTION' | translate" (buttonClick)="onAddSectionClicked()"></pep-button>

        <survey-question-menu class="add-button" sizeType="sm" styleType="regular" (questionTypeClick)="onAddQuestionClick($event, questionIndex)"></survey-question-menu>
    </div>
</ng-template>