<label class="title body-lg">{{ "ADDITIONAL_PARAMS.TITLE" | translate}}</label>


<ng-container *ngFor="let field of additionalFields | keyvalue: originalOrder">
    <ng-container [ngSwitch]="field.value?.type?.toLowerCase()">
        <ng-container *ngSwitchCase="'integer'">
            <pep-textbox [label]="field.value?.description || ''" [value]="additionalFieldsValues != null ? additionalFieldsValues[field.key] : ''"  [type]="'int'"
                         (valueChange)="onSectionEditorFieldChanged(field.key,$event)">
            </pep-textbox>
        </ng-container>
        <ng-container *ngSwitchCase="'double'">
            <pep-textbox [label]="field.value?.description || ''" [value]="additionalFieldsValues != null ? additionalFieldsValues[field.key] : ''"  [type]="'real'"
                         (valueChange)="onSectionEditorFieldChanged(field.key,$event)">
            </pep-textbox>
        </ng-container>
        <ng-container *ngSwitchCase="'bool'">
            <pep-checkbox [label]="field.value?.description || ''"
                    [value]="additionalFieldsValues != null ? additionalFieldsValues[field.key] : false" [renderTitle]="false" xAlignment="left"
                    (valueChange)="onSectionEditorFieldChanged(field.key,$event)">
                </pep-checkbox>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <pep-textbox [label]="field.value?.description || ''"  [type]="'text'" [value]="additionalFieldsValues != null ? additionalFieldsValues[field.key] : ''"
                         (valueChange)="onSectionEditorFieldChanged(field.key,$event)">
            </pep-textbox>
        </ng-container>
    </ng-container>
</ng-container>