@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';

:host {
    height: 100%;
}

.surveys-container {
    display: flex;
    flex-direction: column;
    max-width: 65rem;    
    height: inherit;    

    &.add-padding {
        padding-inline: variables.$content-padding;
    
        @media (max-width: variables.$screen-max-size-xs) {
            padding-inline: 0;
        }
    }
}

.surveys-title { 
    max-width: 34rem;
}