@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';

:host {
}

.question-with-sequence-container {
    display: flex;
    gap: variables.$spacing-sm;
    padding-inline-start: variables.$spacing-sm;
    padding-top: variables.$spacing-lg;
    padding-bottom: variables.$spacing-lg;
    
    .question-container {
        height: 100%;
        width: 100%;
        border-radius: variables.$border-radius-md;
        padding: variables.$content-padding;
        
        // This css is only for edit mode!!!
        &.editable-state {
            
            &.active-question {
                
            }
        }  
    }

    .sequence-number {
        width: 2rem;
        height: 2rem;
        padding: 0;
    }
}