<div class="survey-container">
    <pep-page-layout [showShadow]="true">
        <div pep-side-area *ngIf="showEditor" >
            <pep-side-bar [ignoreResize]="true" (stateChange)="onSidebarStateChange($event)">
                <div header-content class="side-bar-title">
                    <pep-button class="back-button" sizeType="sm" iconName="arrow_left_alt"
                        (buttonClick)="onNavigateBackFromEditor();"></pep-button>
                    <div class=" title-xl ellipsis" [title]="'survey builder'">
                        <span>{{ 'SURVEYS_MANAGER.MAIN_HEADER' | translate }}</span>
                    </div>
                </div>
                <div class="survey-details">
                    <pep-textbox [key]="'float'" [label]="'SURVEYS_MANAGER.SURVEY_EDITOR.NAME' | translate"
                        [placeholder]="'SURVEYS_MANAGER.SURVEY_EDITOR.NAME_PLACEHOLDER' | translate"
                        [value]="surveyEditor?.name" (valueChange)="onSurveyPropertyChanged('name', $event)">
                    </pep-textbox>

                    <pep-textarea [key]="'description'" [value]="surveyEditor?.description"
                        [label]="'SURVEYS_MANAGER.SURVEY_EDITOR.DESCRIPTION' | translate" [rowSpan]="2"
                        (valueChange)="onSurveyPropertyChanged('description', $event)">
                    </pep-textarea>

                    <mat-radio-group class="radio-group" value="{{isActive}}" (change)="onActiveStateChanged($event)">
                        <mat-radio-button class="pep-radio-button md pep-input no-default-background" value="true">
                            {{ 'SURVEYS_MANAGER.SURVEY_EDITOR.ACTIVE' | translate }}
                        </mat-radio-button>
                        <mat-radio-button class="pep-radio-button md pep-input no-default-background" value="false">
                            {{ 'SURVEYS_MANAGER.SURVEY_EDITOR.NOT_ACTIVE' | translate }}
                        </mat-radio-button>
                    </mat-radio-group>

                    <pep-select [label]="'SURVEYS_MANAGER.SURVEY_EDITOR.ACTIVE_DATE_RANGE_TITLE' | translate"
                        [options]="activeDateRangeOptions" [renderTitle]="true" [emptyOption]="true"
                        [disabled]="!isActive" (valueChange)="onActiveDateRangeChanged($event)"></pep-select>

                    <div fxLayout="row" fxLayoutGap="1rem">
                        <pep-date fxFlex="50%" [value]="activeFromDate"
                            [label]="'SURVEYS_MANAGER.SURVEY_EDITOR.ACTIVE_FROM_DATE' | translate" [type]="'date'"
                            [disabled]="!isActive || !isActiveDateRangeSelected"
                            (valueChange)="onActiveDateChanged('from', $event)"></pep-date>
                        <pep-date fxFlex="50%" [value]="activeToDate"
                            [label]="'SURVEYS_MANAGER.SURVEY_EDITOR.ACTIVE_TO_DATE' | translate" [type]="'date'"
                            [disabled]="!isActive || !isActiveDateRangeSelected"
                            (valueChange)="onActiveDateChanged('to', $event)"></pep-date>
                    </div>

                    <h4>Add Items</h4>

                    <pep-menu class="pep-spacing-element" [items]="menuItems"
                        [text]="'SURVEYS_MANAGER.SURVEY_EDITOR.ADD_QUESTION' | translate" [iconName]="'arrow_down'"
                        [sizeType]="'lg'" [classNames]="'streched'" (menuItemClick)="onAddQuestionClicked($event)">
                    </pep-menu>

                    <pep-button [value]="'SURVEYS_MANAGER.SURVEY_EDITOR.ADD_SECTION' | translate" styleType="weak"
                        styleStateType="system" sizeType="lg" iconName="number_plus" iconPosition="end"
                        (buttonClick)="onAddSectionClicked()"></pep-button>

                </div>
            </pep-side-bar>
        </div>
        <ng-container pep-main-area>
            <div class="main-area-container">
                <div class="header-container" [ngClass]="{'header-container-preview': !showEditor }">
                    <ng-container *ngIf="showEditor; then editorTitleTemplate; else previewTitleTemplate"></ng-container>
                    <ng-template #editorTitleTemplate>
                        <div></div>
                    </ng-template>
                    <ng-template #previewTitleTemplate>
                        <div class="preview-title body-sm">
                            <span>{{('SURVEY_MANAGER.PREVIEW_TITLE' | translate)}}</span>
                        </div>
                    </ng-template>
    
                    <ng-container *ngIf="showEditor; then editorButtonsTemplate; else previewButtonsTemplate"></ng-container>
                    <ng-template #editorButtonsTemplate>
                        <div class="header-end">
                            <pep-button key='Preview' [value]="'ACTIONS.PREVIEW' | translate" sizeType="sm" classNames="pep-spacing-element" (buttonClick)="togglePreviewMode()"></pep-button>
                            <pep-button key='Save' [value]="'ACTIONS.SAVE' | translate" sizeType="sm" classNames="pep-spacing-element" (buttonClick)="onSaveClick()"></pep-button>
                            <pep-button key='Publish' [value]="'ACTIONS.PUBLISH' | translate" sizeType="sm" classNames="pep-spacing-element" styleType="strong" (buttonClick)="onPublishClick();"></pep-button>
                        </div>
                    </ng-template>
                    <ng-template #previewButtonsTemplate>
                        <a class="color-link body-sm" (click)="togglePreviewMode()" href="javascript:void(0)">{{('SURVEY_MANAGER.PREVIEW_CLICK_HERE' | translate)}}</a>    
                    </ng-template>
                </div>
                <div class="survey-builder-wrapper" (click)="onWrapperClicked($event)">
                    <survey-builder-internal [editMode]="showEditor" [screenSize]="screenSize"
                        [sectionsQuestionsDropList]="sectionsQuestionsDropList"></survey-builder-internal>
                </div>
            </div>
        </ng-container>
        <div pep-side-area-end *ngIf="showEditor" >
            <pep-side-bar position="end" [ignoreResize]="true" (stateChange)="onSidebarEndStateChange($event)">
                <div header-content class="side-bar-title">
                    <div class=" title-xl ellipsis" [title]="">
                        <span>TITLE</span>
                    </div>
                </div>
                <div class="survey-details">
                    <survey-question-editor></survey-question-editor>
                    <div class="pep-actions">
                        <pep-button  value="{{'SURVEYS_MANAGER.SURVEY_EDITOR.RIGHT_SIDE.ACTIONS.DUPLICATE' | translate}}" 
                                    styleType="regular" iconName="number_plus" iconPosition="end"
                                    (buttonClick)="onQuestionDuplicateClick($event)" sizeType="sm"></pep-button>
                        <pep-button  value="{{'SURVEYS_MANAGER.SURVEY_EDITOR.RIGHT_SIDE.ACTIONS.DELETE' | translate}}" 
                                    styleType="regular" iconName="system_bin" iconPosition="end" classNames="caution"
                                    (buttonClick)="onQuestionDeleteClick($event)" sizeType="sm"></pep-button>
                    </div>
                </div>
            </pep-side-bar>
        </div>
    </pep-page-layout>
    <!-- <div class="right-side-bar">
        <survey-question-editor></survey-question-editor>
        <div class="pep-actions">
            <pep-button  value="{{'SURVEYS_MANAGER.SURVEY_EDITOR.RIGHT_SIDE.ACTIONS.DUPLICATE' | translate}}" 
                        styleType="weak" iconName="number_plus" iconPosition="end"
                        (buttonClick)="onQuestionDuplicateClick($event)" sizeType="md"></pep-button>
            <pep-button  value="{{'SURVEYS_MANAGER.SURVEY_EDITOR.RIGHT_SIDE.ACTIONS.DELETE' | translate}}" 
                        styleType="weak" iconName="system_bin" iconPosition="end" classNames="caution"
                        (buttonClick)="onQuestionDeleteClick($event)" sizeType="md"></pep-button>
        </div>
    </div> -->
</div>

<pep-size-detector></pep-size-detector>