<div class="survey-container">
    <pep-page-layout [showShadow]="showEditor">
        <div pep-side-area *ngIf="showEditor" >
            <pep-side-bar [ignoreResize]="true" (stateChange)="onSidebarStateChange($event)">
                <div header-content class="side-bar-title ellipsis">
                    <pep-button class="back-button" sizeType="sm" iconName="arrow_left_alt"
                        (buttonClick)="onNavigateBackFromEditor();"></pep-button>
                    <div class=" title-xl ellipsis" [title]="'survey builder'">
                        <span>{{ 'SURVEYS_MANAGER.MAIN_HEADER' | translate }}</span>
                    </div>
                </div>
                <div class="survey-details">
                    <pep-textbox [key]="'float'" [label]="'SURVEY_MANAGER.SURVEY_EDITOR.NAME' | translate" [mandatory]="true"
                        [placeholder]="'SURVEY_MANAGER.SURVEY_EDITOR.NAME_PLACEHOLDER' | translate"
                        [value]="surveyEditor?.name" (valueChange)="onSurveyPropertyChanged('name', $event)">
                    </pep-textbox>

                    <pep-textarea [key]="'description'" [value]="surveyEditor?.description"
                        [label]="'SURVEY_MANAGER.SURVEY_EDITOR.DESCRIPTION' | translate" [rowSpan]="1.5"
                        (valueChange)="onSurveyPropertyChanged('description', $event)">
                    </pep-textarea>
                   
                    <pep-checkbox class="checkbox-as-title" key="cb1" [label]="'SURVEY_MANAGER.SURVEY_EDITOR.ACTIVATE' | translate"
                        [value]="isActive" [renderTitle]="false" xAlignment="left"
                        (valueChange)="onActiveStateChanged($event)">
                    </pep-checkbox>
                    
                    <div fxLayout="row" style="gap: '1rem';">
                        <pep-date fxFlex="50%" [value]="activeFromDate"
                            [label]="'SURVEY_MANAGER.SURVEY_EDITOR.ACTIVE_FROM_DATE' | translate" [type]="'date'"
                            [disabled]="!isActive" (valueChange)="onActiveFromDateChanged($event)" [maxDateValue]="maxDateValue"></pep-date>
                        <pep-date fxFlex="50%" [value]="activeToDate"
                            [label]="'SURVEY_MANAGER.SURVEY_EDITOR.ACTIVE_TO_DATE' | translate" [type]="'date'"
                            [disabled]="!isActive" (valueChange)="onActiveToDateChanged($event)" [minDateValue]="minDateValue"></pep-date>
                    </div>

                    <label class="title body-lg">{{ "SURVEY_MANAGER.SURVEY_EDITOR.ADD_ITEM" | translate}}</label>

                    <div class="pep-actions">
                        <survey-question-menu (questionTypeClick)="onQuestionTypeClick($event)"></survey-question-menu>
                        <pep-button [value]="'SURVEY_MANAGER.SURVEY_EDITOR.ADD_SECTION' | translate" styleType="weak"
                            styleStateType="system" iconName="number_plus" iconPosition="end"
                            (buttonClick)="onAddSectionClicked()"></pep-button>
                    </div>

                </div>
            </pep-side-bar>
        </div>
        <ng-container pep-main-area>
            <div class="main-area-container">
                <div class="header-container" [ngClass]="{'header-container-preview': !showEditor }">
                    <ng-container *ngIf="showEditor; then editorTitleTemplate; else previewTitleTemplate"></ng-container>
                    <ng-template #editorTitleTemplate>
                        <div></div>
                    </ng-template>
                    <ng-template #previewTitleTemplate>
                        <div class="preview-title body-sm">
                            <span>{{('SURVEY_MANAGER.PREVIEW_TITLE' | translate)}}</span>
                        </div>
                    </ng-template>
    
                    <ng-container *ngIf="showEditor; then editorButtonsTemplate; else previewButtonsTemplate"></ng-container>
                    <ng-template #editorButtonsTemplate>
                        <div class="header-end">
                            <pep-button key='Preview' [value]="'ACTIONS.PREVIEW' | translate" sizeType="sm" classNames="pep-spacing-element" (buttonClick)="togglePreviewMode()"></pep-button>
                            <pep-button key='Save' [value]="'ACTIONS.SAVE' | translate" sizeType="sm" classNames="pep-spacing-element" (buttonClick)="onSaveClicked()"></pep-button>
                            <pep-button key='Publish' [value]="'ACTIONS.PUBLISH' | translate" sizeType="sm" classNames="pep-spacing-element" styleType="strong" (buttonClick)="onPublishClicked();"></pep-button>
                        </div>
                    </ng-template>
                    <ng-template #previewButtonsTemplate>
                        <a class="color-link body-sm" (click)="togglePreviewMode()" href="javascript:void(0)">{{('SURVEY_MANAGER.PREVIEW_CLICK_HERE' | translate)}}</a>    
                    </ng-template>
                </div>
                <div class="survey-builder-wrapper" (click)="onWrapperClicked($event)">
                    <survey-builder-internal [editMode]="showEditor" [screenSize]="screenSize"
                        [sectionsQuestionsDropList]="sectionsQuestionsDropList"></survey-builder-internal>
                </div>
            </div>
        </ng-container>
        <div pep-side-area-end *ngIf="showEditor">
            <survey-selected-item-editor></survey-selected-item-editor>
        </div>
    </pep-page-layout>
</div>

<pep-size-detector></pep-size-detector>