@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/functions';

.survey-container {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100%;
    width: 100%;
}

.right-side-bar {
    z-index: variables.$z-index-lowest + 4;
    width: variables.$side-bar-width;
    box-shadow: functions.get-pep-shadow(shadow-md, hard);
}

.side-bar-title {
    display: flex;
    padding-top: variables.$spacing-sm; 
    
    .back-button {
        margin-inline-end: variables.$spacing-sm;
    }
}

.survey-details {
    margin-top: variables.$spacing-lg;    

    ::ng-deep.menu-container button {
        width: 100%;
        max-width: none;
    }
}

.main-area-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    .header-container {
        display: flex;
        position: sticky;
        top: 0;
        z-index: variables.$z-index-medium;
        height: 3rem;
        align-items: center;
        justify-content: flex-end;
        padding: 0 variables.$spacing-xs;
        box-shadow: functions.get-pep-shadow(shadow-md, hard);
    } 

}

.radio-group {
    display: flex;
    flex-direction: row;
    margin-bottom: variables.$form-spacing;

    .pep-radio-button {                     
        &.pep-input {
            height: 2.25rem;
            display: flex;
        }
        
        ::ng-deep label .mat-radio-label-content {
            font-weight: normal !important;
            font-size: variables.$fs-xs;
        }
        
    }  
}

.survey-builder-wrapper {
        
}